:root {
	--color-accent: #97317c;
	--color-highlight: #f2d5ea;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	font-size: 1.1rem;
}

.m-0 {
	margin: 0;
}
.mb-0 {
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}

.container {
	max-width: 720px;
	margin: 1rem auto;
}

.logo {
	width: 100%;
	display: block;
	margin: auto;
}

.heading {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.todos {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.todo {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.checkbox {
	width: 1.1rem;
	height: 1.1rem;
	accent-color: var(--color-accent);
}

.todo-label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.4rem;
	// text-transform: capitalize;
}

.todo-date-time {
	padding: 0.1rem 0.2rem;
	border-radius: 0.2rem;
	font-size: 1rem;
	background-color: var(--color-highlight);
}

.todo-date-time-icon {
	margin-right: 0.5rem;
}

.clear-button {
	margin-top: 1rem;
}

.add-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	padding: 1.5rem;
	border: 3px solid var(--color-accent);
	border-radius: 1rem;
}

.input-label {
	margin-bottom: -1.1rem;
}

.text-input {
	font-size: inherit;
	padding: 0.5rem;
	border: 2px solid black;
	border-radius: 0.5rem;
}

.checkbox-label {
	margin-left: 0.5rem;
}

.button {
	font-size: inherit;
	min-width: 6rem;
	padding: 0.5rem 1rem;
	color: white;
	background-color: var(--color-accent);
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
}
.button:disabled {
	background-color: #bbb;
	cursor: wait;
}
